<div class="container-fluid header-main-section">
    <div class="container header-top-section">
        <div class="row">
            <div class="col">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="register">Register</a>
                    </li>
                </ul>
            </div>    
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" routerLink=""><img width="100" height="100" src="../../assets/logo.png" alt="logo"/></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            </button>
                        </nav>
                    </div>
                    <div class="col-md-10 top-menu">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" routerLink="">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" routerLink="booklist">Booklist</a>
                                    </li>                    
                                    <li class="nav-item">
                                        <a class="nav-link" routerLink="about-us">About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" routerLink="contact-us">Contact Us</a>
                                    </li>
                                </ul>
                                <form class="form-inline my-2 my-lg-0 header-search-section">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-success search-btn my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </div>
                      </nav>
                    </div>        
                </div>
            </div>            
        </div>
    </div>
</div>
