<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <a class="navbar-brand" routerLink=""><img width="100" height="100" src="../../assets/logo.png" alt="logo"/></a>
          <h6 class="lowercase">QUESTIONS?<br>

            1-888-123-456</h6>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a routerLink ="/" class="text-dark">Home</a>
            </li>
            <li>
              <a routerLink ="/" class="text-dark">About</a>
            </li>
            <li>
              <a routerLink ="/" class="text-dark">Book Listing</a>
            </li>
            <li>
              <a routerLink ="/" class="text-dark">FAQ</a>
            </li>
          </ul>
        </div>
  
        
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">About</h5>
    
            <ul class="list-unstyled mb-0">
              <li>
                <a routerLink ="/" class="text-dark">About Porto</a>
              </li>
              <li>
                <a routerLink ="/" class="text-dark">Our Guarantees</a>
              </li>
              <li>
                <a routerLink ="/" class="text-dark">Terms And Conditions</a>
              </li>
              <li>
                <a routerLink ="/" class="text-dark">Privacy policy</a>
              </li>
            </ul>
          </div>
          

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-0">Features</h5><br>
             <p class ="features">Powerful Admin Panel<br>
              Mobile & Retina Optimized<br>
              Super Fast WordPress Theme</p>
          </div>

      </div>
    </div>
  
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a routerLink ="/" class="text-dark">Bookstore.com</a>
    </div>
  </footer>
