<button (click)="change('/test/2/Rahul/admin')">Change to Rahul</button>
<br/>
<a routerLink="/test/3/Rahul3/admin" 
[queryParams]="{role:'admin', name:'sreejib'}"
[queryParamsHandling]="'merge'"
 >Change to Rahul3</a>
<p>test works! {{id}} ==>> {{name}}</p>

<button (click)="creatData()">Creat</button>
<button (click)="getData()">Get</button>

<ul *ngFor="let data of userData">
    <li>
       {{data.userName}} 
    </li>
</ul>
<br/>
<input type="text" placeholder="Please input User name" [(ngModel)]="formData.userName">
<input type="password" placeholder="Please input password" [(ngModel)]="formData.password">

<p [ngClass]="isclasschanged ?'backbroundred' :'backbroundblue'">this is ngClass exemple</p>
<div mbsButtoncolour (click)="changeClassName()">change class</div>
<button (click)="submit()">Submit</button>


