<ng-container>
    <div class="row">
        
        <div class="col-md-6" style="text-align: center;">
            <img src="/assets/ignitedMinds.jpeg" width="60%" alt="Ignited Minds"/>
        </div>
        <div class="col-md-6" style="text-align: center;">
            <h1>Title</h1>
            <h2>
                Author Name
            </h2>
            <h3>
                Price
            </h3>
            <p style="text-align: justify;">What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book it has?</p>
        </div>
    </div>
</ng-container>